@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  @apply bg-gray-900 text-white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
